@font-face {
  font-family: Levenim;
  src: url("../src/assets/fonts/Levenim_MT_Regular.ttf");
}
@import "tailwindcss";
@theme {
  --font-Levenim: Levenim, "sans-serif";
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .Toastify__toast {
    margin-bottom: 1rem;
    border-radius: 8px;
  }
}
@layer base{
  html{
    scrollbar-gutter: stable;
  }
}

