button {
    background-color: Yellow;
    border : none ;
    height : 100px;
    width : 100px;
}
body{
    height : 100vh ;
    width : 100%;
    /* background-image: image("https://images.unsplash.com/photo-1764867147368-9f162d149840?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-color: slategrey;
}
button:focus{
    background-color: aqua;
    transition: ease-in-out;
    transition-duration: 1s;
}
img{
    height: 100px;
    width: 100px;
    background-image: url("https://images.unsplash.com/photo-1764867147368-9f162d149840?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    animation: ;
}
@keyframes anime {
    0% {
        
    }
}